:root{
    --vermelho: #e50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 15px;
}



header nav a:hover {
    color: #fff;
}

/*coisa sobre o filme principal*/

.filme-principal {
    font-size: 19px;
    background: linear-gradient(rgba(0,0,0,.50)90%, rgba(0,0,0,0.50)), url(./img/lucifer2.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}